.author{

    color: grey;   
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;    
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.5;
}

.fa-facebook, .fa-twitter,.fa-youtube,.fa-instagram {
    background: #3B5998;
    color: white;
  }
  